
body{
    padding:2.5%;
}
#topTitle{
    background-color: darkgray;
    border-radius:25px;
    padding-left:30%;
    padding-right:30%;
}
p.lead{
    color:white;
    font-size:25px;
    width: 900px;
}
#trainInput{
    background-color:darkgrey;
    border-radius:25px;
}
.table{
    border-radius:25px;
}
#submit{
    background-color: dimgrey;
    color:white;
    border-radius:25px;
}
#clear{
    background-color:dimgrey;
    color:white;
    border-radius:25px;
}